@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Montserrat:wght@200&display=swap');

@import url("components/container_menu.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner_home.css");
@import url("components/card_products.css");
@import url("components/logo_top.css");
@import url("components/form.css");
@import url("components/banner_light.css");
@import url("components/logo_middle.css");
@import url("components/footer.css");
@import url("components/iconebig.css");
@import url("components/icons.css");
@import url("components/blog.css");
@import url("components/imgblog.css");
@import url("components/container_products.css");
@import url("components/container_bags.css");
@import url("components/container_emily.css");
@import url("components/name.css");
@import url("components/card_products.css");
@import url("components/logo_corner.css");
@import url("components/submenu.css");
@import url("components/btn-menu.css");
@import url("components/imagehover.css");
@import url("components/imageaboutus.css");
@import url("components/flotte.css");
@import url("components/shopping-cart.css");
@import url("components/filter.css");
@import url("components/btn_add_to_basket.css");

body {
	font-family: 'Montserrat', sans-serif;
	font-size : 18px;
	margin: 0px;
}
h1,h2,h3 {
	font-family: 'Baskervville', serif;
	font-weight: lighter;
	text-align: center;
}
h4 {
	font-family: 'Baskervville', serif;
	font-weight: lighter;
	font-size: 14px;
}

h2{
	color: #02717F;
}

h5{
	font-family: 'Baskervville', serif;
	font-weight: lighter;
	font-size: 14px;
	color:gray;
	text-align: right;
}

h6{
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 15px;
	color: #02717F;
	text-align: center;
}

p {
	font-family: 'Baskervville', serif;
	font-weight: lighter;
}

a{
	text-decoration: none;
}

