.banner{
	background-image: linear-gradient(-220deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.1) 40%), url(../../images/background.jpg);
	color: white;
	padding: 80px 0px;
	background-size: cover;
	background-position: center;
	z-index: 0;
}

.banner h1{
	font-size: 25px;
	margin-left: 200px;
}

.banner h2{
	font-size: 30px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 40px;
	text-align: center;
}

.banner li{
	text-align: center;
	list-style:none;
}

