.card1{
	padding: 0PX 0px 2px 0px;
	text-align: center;
	justify-content: space-between;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	border-radius:3px;
	flex-basis: 150px;
	flex-grow: 1;
	background-size: cover;
	background-color: #DDBEA9;
	width: 160px;
	margin: 0px 40px 35px 40px;
}

.card1 img {
	width: 170px;
	border-radius:3px;
}

.card1 h3 {
	flex-grow: 1;
	justify-content: space-between;
	font-size: 18px;
}

.cards li {
	list-style:none;
	display: inline-flex;
	flex-wrap: wrap;
	text-align: center;
}

