.container {
  width: 1000px;
  margin: 0px auto;
  text-align: center;
}

.responsive-iframe {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
}

.iframe {
    margin: 0 auto;
  }



@media (max-width:  800px) {
    .container {
        width: 600px;
  }
}

@media (max-width:  700px) {
    .container {
        width: 500px;
  }
}

@media (max-width:  600px) {
    .container {
        width: 400px;
  }
}


@media (max-width:  500px) {
    .container {
        width: 300px;
  }
}


