.homebtn {
}

nav {
	width:100%;
}

nav ul::after
{
content:"";
display:block;
clear:both;
}


nav  ul ul {
	width:800px;
	height:300px;
	font-size:18px;
	line-height: 3em;
	}

nav ul li {
display: inline;
	}

nav li {
	list-style-type: none;
	}
li {
	display: inline;
}
