.shopping-cart {
  width: 750px;
  height: 400px;
  margin: 80px auto;
  background: #FFFFFF;
  box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.4);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.shopping-cart {
	list-style: none;
	text-align: center;
	margin: 0px 150px;
	z-index: 1;
	position: absolute;
}



.title {
  border-bottom: 1px solid #E1E8EE;
  padding: 10px 30px;
}
 
.item {
  padding: 20px 40px 20px 80px;
  height: 140px;
  display: inline-flex;

}

.btn-blue3{
	margin-left: 240px;
	background-color: #02717F;
	border-radius: 2px;
	color: white;
	font-weight: lighter;
	font-family: 'Baskervville', serif; 
	display: inline-block;
	text-align: center;
	padding: 15px 20px 15px 15px ;
	font-size: 65%;
	width: 80px;
	height: 20px;
	}

.btn-blue3:hover {
	background-color: #DDBEA9;
	color:#02717F;
}

.iconsbasket {
  width: 30px;
  float: right;
  position: relative;
  padding-right: 5px;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

}
.is-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}
 
@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}

.description {
  padding-top: 10px;
  margin-right: 10px;
  width: 200px;
}

.total-price {
  width: 83px;
  margin-top: : 40px;
  text-align: center;
  font-size: 20px;
 
}

@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
 
 
 